@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Lobster&subset=latin,cyrillic);
@font-face {
  font-family: MinionPro;
  src: url("../fonts/MinionPro-Regular.eot");
  src: url("../fonts/MinionPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-Regular.woff") format("woff"), url("../fonts/MinionPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body, html {
  height: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  * {
    -webkit-text-size-adjust: none;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

body {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 12px;
  line-height: 1.4;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: normal;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.button {
  background: #c3a4cd;
  border-radius: 20px;
  font-family: "MinionPro";
  color: #ffffff;
  font-size: 20px;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
  border: none;
  display: inline-block;
}

.button:hover {
  background: #b588c4;
}

input[type=text], input[type=email], input[type=tel], input[type=search], textarea {
  width: 271px;
  height: 37px;
  box-sizing: border-box;
  padding: 0 15px;
  color: #6f607b;
  font-size: 15px;
  font-family: "Roboto";
  border: 1px solid #e5dfe6;
  border-radius: 18px;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=search]:focus, textarea:focus {
  box-shadow: 0 0 2px #99e6f9;
}

input[type=text].red_input, input[type=email].red_input, input[type=tel].red_input, input[type=search].red_input, textarea.red_input {
  box-shadow: 0 0 2px #ff2d50;
  background: #fdc4ce;
}

input::-webkit-input-placeholder {
  color: inherit;
}

input:-moz-placeholder {
  color: inherit;
}

textarea {
  height: 90px;
  padding-top: 5px;
}

.modal {
  display: none;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.float_left {
  float: left !important;
}

.float_right {
  float: right !important;
}

.float_none {
  float: none !important;
}

.text_right {
  text-align: right !important;
}

.text_center {
  text-align: center !important;
}

.text_left {
  text-align: left !important;
}

.absolute {
  position: absolute !important;
}

.relative {
  position: relative !important;
}

.fixed {
  position: fixed !important;
}

.background_none {
  background: none !important;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

/*----------header----------*/
.header {
  background-color: #f9f7f8;
}

.head_info_wrap {
  padding: 21px 0;
}

.head_phone, .search_head {
  text-align: right;
  font-family: "MinionPro";
}

.head_phone {
  padding: 0 15px 0 0;
}

.tel {
  display: inline-block;
  font-size: 24px;
  color: #5b4380;
  text-decoration: none;
  padding: 0 14px 0 30px;
  background: url("../img/icons/phone.png") left center no-repeat;
}

.search_head {
  padding: 11px 0 0 0;
  text-align: right;
  vertical-align: top;
}

.search_head div {
  vertical-align: top;
}

.search {
  width: 318px;
  height: 40px;
  margin: 0 12px 0 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.search input {
  width: 318px;
  border-color: #e1dbe3;
  height: 40px;
  border-radius: 20px;
  padding: 0 50px 0 20px;
  background: none;
}

.search input:focus {
  background: #fff;
}

.search button {
  position: absolute;
  top: 4px;
  right: 7px;
  width: 30px;
  height: 30px;
  z-index: 5;
  border-radius: 50%;
  background: #fff;
  padding: 0;
  color: #c3a4cd;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0 1px 1px #e8e5e8;
}

.basket_head {
  display: inline-block;
  width: 232px;
  height: 38px;
  border-radius: 16px;
  background: #bb9dc4;
}

.basket_head a {
  display: block;
  width: 232px;
  height: 38px;
  font-size: 20px;
  line-height: 38px;
  color: #fff;
  text-indent: 14px;
  text-align: left;
  text-decoration: none;
  position: relative;
}

.basket_head a img {
  position: absolute;
  right: 5px;
  top: 5px;
}

/*--------------main-menu------------*/
.menu_trigger {
  display: none;
}

.main_menu {
  background: #fff;
  height: 57px;
}

.main_menu .container {
  padding-top: 6px;
}

.main_menu ul {
  background: url("../img/icons/border_menu.png") center right no-repeat;
}

.main_menu li a {
  color: #543060;
  font-size: 18px;
  font-family: "MinionPro";
  text-decoration: none;
  background: url("../img/icons/border_menu.png") center left no-repeat;
  border-radius: 0;
  box-sizing: border-box;
}

.main_menu li a:hover, .main_menu li a:active {
  background: url("../img/icons/border_menu.png") center left no-repeat !important;
  color: #bea1c7;
  font-weight: bold;
}

.main_menu li a:focus {
  background: none;
  font-weight: normal;
}

.main_menu li.open > a {
  background: url("../img/icons/border_menu.png") center left no-repeat !important;
  border-color: #e3d5e8 !important;
  color: #bea1c7;
  font-weight: bold;
}

.main_menu .dropdown-menu {
  box-shadow: none;
  border: none;
  margin-top: 10px;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.84);
}

.main_menu .dropdown-menu li a {
  border: none;
  background: none;
  border-bottom: 1px solid #e3d4e7;
}

.main_menu .dropdown-menu li a:hover {
  background: none !important;
}

/*-------------end-main-menu------------*/
/*----------end-header----------*/
/*----------main----------*/
.main {
  position: relative;
  overflow: hidden;
}

/*--------slider--------*/
.top_slider_wrap {
  padding: 0;
}

.top_slider_wrap .carousel-indicators .active {
  background: #c3a4cd;
  border-color: #c3a4cd;
}

.top_slider_wrap .carousel-caption {
  left: auto;
  right: 15%;
  top: 15%;
  width: 370px;
  text-align: left;
}

.slider_txt {
  font-size: 24px;
  color: #5b4380;
  font-weight: 300;
  text-shadow: none;
}

.slider_txt b {
  font-weight: 500;
}

.slider_txt h5 {
  font-size: 60px;
  color: #ffffff;
  font-family: 'Lobster';
  line-height: 0.9;
  padding-bottom: 18px;
}

.slider_txt p {
  font-weight: 300;
  padding-bottom: 30px;
}

.slider_txt .button {
  border-radius: 23px;
  border: 1px solid #fff;
  background: none;
  font-size: 18px;
}

.baby {
  position: absolute;
  left: 0;
  top: -24%;
  width: 55%;
}

.baby img {
  width: 100%;
}

/*-------end-slider--------*/
/*-------products--------*/
.new_products_wrap {
  padding-top: 41px;
  padding-bottom: 41px;
}

.title {
  text-align: center;
  padding-bottom: 38px;
  font-size: 30px;
  color: #5b4380;
  font-family: "MinionPro";
}

.products_block {
  position: relative;
}

.products_item {
  margin-bottom: 40px;
  display: block;
  border-radius: 25px;
  border: 1px solid #e1dbe3;
  position: relative;
  overflow: hidden;
}

.products_item figure {
  padding: 15px 0;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #e1dbe3;
}

.products_item figure a {
  display: block;
  position: relative;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s ease;
}

.products_item figure a:hover img {
  transform: scale(1.1) rotate(-10deg);
}

.products_item figure img {
  max-width: 100%;
  transition: all 0.5s ease;
}

.products_item figure figcaption {
  position: absolute;
  font-size: 20px;
  color: #5b4380;
  font-family: "MinionPro";
  box-shadow: 0 1px #f6c6a6;
  overflow: hidden;
  height: 37px;
  background: #ffeab2;
  left: 0;
  bottom: 10%;
  z-index: 3;
  line-height: 37px;
  padding: 0 42px 0 11px;
}

.products_item figure figcaption small {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 32px;
  background-color: #ffe0ab;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  padding-top: 2px;
}

.products_item p {
  padding: 22px 15px;
  text-align: center;
}

.products_item p a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #5b4380;
  font-weight: bold;
  padding-bottom: 10px;
}

.products_item p a:hover {
  text-decoration: underline;
}

.products_item p span {
  font-weight: 300;
  color: #454545;
  font-size: 18px;
}

/*-------end-products--------*/
/*-------preference--------*/
.preference_wrap {
  background: #d2c8e9;
  padding-top: 37px;
}

.preference_item {
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px #b692c1;
}

.preference_item figure {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 186px;
  height: 186px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(54, 54, 54, 0.24);
  background-color: #fff;
  padding: 16px;
  box-sizing: border-box;
}

.preference_item figure figcaption {
  border-radius: 50%;
  border: 1px solid #d2c8e9;
  display: table-cell;
  width: 153px;
  height: 153px;
  vertical-align: middle;
}

/*-------end-preference--------*/
/*-------about--------*/
.about_index {
  border-top: 4px solid #cdc2e6;
  padding-top: 31px;
  padding-bottom: 31px;
}

.about_index h6 {
  font-size: 31px;
  color: #5b4380;
  font-weight: 300;
  padding-bottom: 15px;
}

.about_index h6 b {
  font-weight: 500;
  display: block;
}

.about_index figure {
  margin-left: -10px;
  position: relative;
  padding: 0 19px;
  height: 58px;
  border-radius: 15px;
  background-color: #f9f7f8;
  border: solid 1px #e8e6e7;
}

.about_index figure img {
  padding: 16px 0 0 0;
}

.about_index article {
  color: #6f607b;
  font-size: 16px;
  line-height: 23px;
}

.about_index blockquote {
  font-style: italic;
  font-weight: 500;
  padding-bottom: 16px;
}

/*-------end-about--------*/
/*----------end main----------*/
/*----------footer----------*/
.footer {
  margin: 30px 0 0 0;
  position: relative;
  overflow: hidden;
  background: #f9f7f8;
  padding: 26px 0 0 0;
}

.copyright {
  background: #fff;
  color: #a09fa0;
  font-size: 14px;
  font-family: "MinionPro";
  text-align: center;
}

.copyright div {
  padding: 21px 0;
}

.footer_info {
  padding-bottom: 29px;
}

.foot_contacts {
  font-size: 24px;
  color: #5b4380;
  font-family: "MinionPro";
}

.foot_contacts a {
  display: block;
  margin-bottom: 14px;
  text-decoration: none;
  padding-left: 40px;
  position: relative;
}

.foot_contacts a img {
  position: absolute;
  left: 0;
  top: 0;
}

.footer_info ul {
  color: #543060;
  font-size: 18px;
  font-family: "MinionPro";
  line-height: 32px;
}

.foot_info_bottom {
  padding-top: 33px;
}

.counters img {
  padding: 0 10px 0 0;
}

/*----------end footer----------*/
/*----------basket-page---------*/
.bread {
  background: url(../img/bread_bg.jpg) no-repeat center;
  height: 59px;
  line-height: 59px;
  color: #ab88b5;
  font-size: 14px;
  margin-bottom: 45px;
}

.bread a {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 7px 0 7px;
  text-decoration: none;
}

.bread a:first-child {
  padding-left: 0;
}

.basket_table {
  position: relative;
  overflow: hidden;
  font-size: 18px;
  color: #454545;
}

.basket_table table {
  width: 100%;
}

.basket_table table thead {
  background: #fbfafb;
}

.basket_table table thead th {
  padding: 16px 30px;
  font-size: 20px;
  color: #8f6f98;
  font-weight: normal;
  font-family: "MinionPro";
}

.basket_table table thead th:last-child {
  padding-left: 10px;
}

.basket_table table tbody {
  background: #fff;
}

.basket_table table td {
  padding: 10px;
  border-bottom: 1px solid #ded9f7;
}

.basket_table table td a {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: #af8bba;
  text-decoration: none;
}

.basket_table table td a:hover {
  text-decoration: underline;
}

.basket_table table td a img {
  padding: 0 30px 0 0;
}

.basket_table table tr:last-child td {
  border-bottom: none;
}

.basket_table select {
  width: 174px;
  height: 37px;
  border-radius: 18px;
  border: solid 1px #e1dbe3;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 18px;
  color: #767681;
}

.basket_table section {
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid #c3a4cd;
  padding: 26px 0 34px 0;
}

.basket_table section .button {
  float: left;
}

.basket_table section span {
  float: right;
  padding: 0 40px 0 0;
  font-size: 21px;
  color: #454545;
}

.basket_table_block {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  background: #fff;
  border: 1px solid #e1dbe3;
}

.number {
  display: inline-block;
  width: 100px;
  position: relative;
}

.number input {
  width: 69px;
  height: 37px;
  border-radius: 18px;
  border: solid 1px #e1dbe3;
  text-align: center;
  font-size: 18px;
  color: #767681;
}

.number span {
  font-size: 18px;
  color: #5b4380;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
  text-align: center;
}

.number span.minus {
  top: -5px;
  right: 13px;
}

.number span.plus {
  top: 17px;
}

.basket_form {
  padding: 22px 0;
}

.basket_form .title {
  text-align: left;
}

.basket_form label {
  display: block;
  font-family: "MinionPro";
  font-size: 20px;
  padding-bottom: 9px;
  color: #6f607b;
  font-weight: normal;
  text-shadow: none;
}

.basket_form input {
  margin-bottom: 14px;
}

/*---------end-basket-page-------*/
/*----------catalog-page---------*/
.content .new_products_wrap {
  padding: 0;
}

.content .products_item {
  margin-bottom: 25px;
}

/*------pager------*/
.pager_content .pagination > li > a, .pager_content .pagination > li > span {
  border-color: #e1dbe3;
}

.pager_content .pagination > .active > a, .pager_content .pagination > .active > a:focus, .pager_content .pagination > .active > a:hover, .pager_content .pagination > .active > span, .pager_content .pagination > .active > span:focus, .pager_content .pagination > .active > span:hover {
  background: #bb9dc4;
  border-color: #bb9dc4;
  color: #fff;
}

.pager_content .pagination > li > a, .pager_content .pagination > li > span {
  font-size: 18px;
  color: #000;
  font-family: "MinionPro";
}

.pager_content .pagination > li a > span {
  color: #a2a2a2;
}

/*-----end-pager------*/
/*-------sidebar---------*/
.sidebar_menu {
  position: relative;
  overflow: hidden;
  margin-bottom: 23px;
  border-radius: 22px;
  border: 1px solid #e1dbe3;
  font-family: "MinionPro";
}

.sidebar_menu .caret {
  margin-right: 7px;
}

.sidebar_menu_trigger {
  background: #fbfafb;
  padding: 15px 20px;
  font-size: 20px;
  color: #8f6f98;
  cursor: pointer;
}

.sidebar_menu_block {
  padding: 15px 19px;
  color: #543060;
  padding-bottom: 0;
  font-size: 18px;
}

.sidebar_menu_block li {
  padding-bottom: 20px;
}

.sidebar_menu_block label {
  font-weight: normal;
}

/*------end-sidebar---------*/
/*--------end--catalog-page---------*/
/*--------product-page---------*/
.product_wrap {
  padding-bottom: 65px;
}

.product_text_wrap h1 {
  font-size: 30px;
  color: #af8bba;
  font-weight: bold;
}

.product_text_wrap p {
  color: #3c3c3c;
  font-size: 16px;
  line-height: 1.4;
  padding-bottom: 24px;
}

.product_text_wrap select {
  width: 174px;
  height: 37px;
  border-radius: 18px;
  border: solid 1px #e1dbe3;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 18px;
  color: #767681;
}

.tags {
  padding: 5px 0;
}

.tags a {
  display: inline-block;
  color: #9c9c9c;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 9px;
  background: #f4f2e9;
  text-decoration: none;
}

.tags a.have {
  background: #e9f4e9;
}

.tags a.nothave {
  background: #f4f2e9;
}

.price {
  font-size: 26px;
  color: #454545;
  font-weight: 300;
  padding-bottom: 18px;
}

.product_choose {
  position: relative;
  overflow: hidden;
  padding-bottom: 18px;
}

.product_choose label {
  display: block;
  color: #afa1a8;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 11px;
}

.product_choose_item {
  display: inline-block;
  padding: 0 15px 0 0;
  vertical-align: top;
}

.product_buttons {
  vertical-align: middle;
  margin-bottom: 22px;
}

.product_buttons .basket_head, .product_buttons .basket_head a {
  width: 140px;
}

.product_buttons span {
  padding-left: 20px;
  vertical-align: middle;
  font-size: 20px;
  color: #c3a4cd;
  font-family: "MinionPro";
  position: relative;
  bottom: 3px;
}

.product_manager {
  color: #514a76;
  font-size: 16px;
  line-height: 1.3;
  padding: 20px 20px 20px 130px;
  background: #f0effc url("../img/manager.png") 30px center no-repeat;
}

.product_manager b {
  display: block;
  padding: 12px 0 0 0;
}

.share {
  font-size: 14px;
  color: #c3a4cd;
  vertical-align: top;
  text-transform: uppercase;
}

.share img {
  position: relative;
  top: 10px;
  padding: 0 0 0 15px;
}

.product_img_wrap {
  position: relative;
  overflow: hidden;
}

.product_img_wrap .big_image {
  width: 490px;
  height: 490px;
  border-radius: 30px;
  border: 1px solid #e1dbe3;
  position: relative;
  overflow: hidden;
  text-align: center;
  float: left;
}

.product_img_wrap .big_image a {
  width: 490px;
  height: 490px;
  display: table-cell;
  vertical-align: middle;
}

.product_img_wrap .thumbnails {
  float: left;
  margin-left: 20px;
}

.product_img_wrap .thumbnails li {
  display: block;
  width: 100px;
  height: 94px;
  position: relative;
  overflow: hidden;
  border-radius: 22px;
  border: 1px solid #e3dde5;
  margin-bottom: 10px;
}

.product_img_wrap .thumbnails li a {
  width: 100px;
  height: 94px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.product_img_wrap .thumbnails li a img {
  height: 100%;
  width: auto;
}

/*----product-tabs------*/
.product_tabs {
  color: #6f607b;
  font-size: 16px;
  line-height: 23px;
}

.product_tabs blockquote {
  font-style: italic;
  font-weight: 500;
  padding-bottom: 16px;
}

.product_tabs .tabs {
  border-bottom: 3px solid #c3a4cd;
  vertical-align: bottom;
}

.product_tabs .tabs li {
  display: inline-block;
}

.product_tabs .tabs li a {
  display: block;
  height: 39px;
  line-height: 39px;
  padding: 0 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #693b78;
  border-radius: 6px 6px 0 0;
}

.product_tabs .tabs li a.active {
  background-color: #c3a4cd;
  color: #fff;
}

.product_tabs .product_tabs_content {
  padding: 30px 20px;
}

/*---end-product-tabs------*/
/*--------end--product-page---------*/
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .top_slider_wrap .carousel-caption {
    right: 9%;
    top: 1%;
  }
  .main_menu li a {
    font-size: 16px;
  }
  .about_index figure img {
    max-width: 100%;
  }
  .product_img_wrap .thumbnails li {
    display: inline-block;
    margin-top: 10px;
  }
}

@media only screen and (width: 1024px) {
  .product_img_wrap .big_image {
    float: none;
  }
  .product_img_wrap .thumbnails {
    float: none;
    padding-top: 15px;
  }
  .product_img_wrap .thumbnails li {
    display: inline-block;
  }
}

@media only screen and (max-width: 1024px) {
  img {
    max-width: 100%;
  }
  .foot_contacts {
    font-size: 17px;
  }
}

@media only screen and (max-width: 1000px) {
  .number span {
    font-size: 33px;
  }
  .number span.plus {
    top: -4px;
    right: 17px;
  }
  .number span.minus {
    top: -16px;
    right: auto;
    left: 20px;
    font-size: 48px;
  }
  .basket_table .number {
    width: 82px;
  }
  .basket_table .number span.minus {
    left: 5px;
  }
  .logo {
    display: block;
    text-align: center;
  }
  .head_phone, .search {
    display: none;
  }
  .search_head {
    text-align: center;
    padding: 15px 0 0 0;
  }
  .slider_txt h5 {
    font-size: 35px;
  }
  .slider_txt {
    font-size: 18px;
  }
  .slider_txt p {
    padding-bottom: 17px;
    font-size: 16px;
  }
  .top_slider_wrap .carousel-caption {
    right: 3%;
    top: 4%;
  }
  .preference_item figure {
    width: 112px;
    height: 112px;
    padding: 8px;
  }
  .preference_item figure figcaption {
    width: 100px;
    height: 96px;
  }
  .preference_item figure figcaption img {
    width: 60%;
  }
  .foot_info_bottom {
    display: none;
  }
  .hide_on_mobile {
    display: none;
  }
  .main_menu {
    height: auto;
  }
  .main_menu ul {
    background: none;
  }
  .main_menu ul li {
    display: block;
    width: 100%;
    text-align: center;
    background: none;
    /* border-bottom: 1px solid #eee5f1; */
  }
  .main_menu ul li a {
    background: none;
  }
  .main_menu .nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
    position: static;
    width: 100%;
    float: none;
  }
  .main_menu, .main_menu .container {
    width: 100%;
    padding: 0;
  }
  .menu_trigger {
    display: block;
    color: #543060;
    font-size: 18px;
    text-align: center;
    font-family: "MinionPro";
    padding: 10px 0;
    box-shadow: 0 5px 3px #efefef;
    width: 100%;
  }
  .main_menu .dropdown-menu {
    background: #c3a4cd;
  }
  .dropdown-nav {
    display: none;
  }
  .main_menu .container.open .dropdown-nav {
    display: block;
  }
  .main_menu .dropdown-menu li a {
    color: #fff;
  }
  .basket_table table td {
    padding: 10px 0;
  }
  .product_img_wrap {
    margin-bottom: 30px;
  }
  .product_wrap {
    text-align: center;
  }
}

@media only screen and (max-width: 760px) {
  .about_index .col-md-3 {
    text-align: center;
  }
  .foot_all_menu {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .top_slider_wrap .carousel-caption {
    display: none;
  }
  .baby {
    width: 100%;
    text-align: center;
  }
  .baby img {
    width: 50%;
  }
  .preference_item {
    position: relative;
    overflow: hidden;
  }
  .preference_item figure {
    float: left;
  }
  .preference_item p {
    overflow: hidden;
    text-align: left;
    padding: 10px 0 0 22px;
  }
  .about_index figure {
    margin-bottom: 20px;
    display: inline-block;
  }
  .foot_all_menu {
    display: none;
  }
  .foot_contacts {
    font-size: 17px;
    width: 148px;
    text-align: left;
    margin: 0 auto;
  }
  .product_img_wrap .big_image {
    float: none;
  }
  .product_img_wrap .thumbnails {
    float: none;
    padding-top: 15px;
    text-align: center;
  }
  .product_img_wrap .thumbnails li {
    display: inline-block;
  }
  .product_img_wrap .big_image {
    width: 100%;
    height: auto;
  }
  .product_img_wrap .big_image a {
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
  }
  .product_text_wrap {
    text-align: center;
  }
  .product_tabs .tabs li a {
    padding: 0 10px;
  }
  .product_choose_item {
    padding-bottom: 15px;
  }
  .product_manager {
    padding: 20px 20px 20px 20px;
    background: #f0effc;
  }
  .foot_info_bottom {
    display: block;
    text-align: center;
  }
  .foot_info_bottom .counters {
    display: none;
  }
  .products_item {
    margin: 0 20px 40px 20px;
  }
}

@media only screen and (max-width: 530px) {
  .basket_table select {
    width: 70px;
    padding: 0;
  }
  .number input {
    width: 51px;
  }
  .number {
    width: 72px;
  }
}

@media only screen and (max-width: 700px) {
  .products_item {
    margin: 0 0px 40px 0px;
  }
  .basket_table table thead {
    display: none;
  }
  .basket_table table td {
    padding: 10px;
    display: block;
    border: none;
    text-align: center;
  }
  .basket_table table tr {
    display: block;
    border-bottom: 1px solid #ded9f7;
  }
  .basket_table table tr:last-child {
    border-bottom: none;
  }
  .basket_table .number span.plus {
    top: -4px;
    right: 8px;
  }
  .basket_table .number span.minus {
    left: 11px;
  }
}

@media only screen and (max-width: 450px) {
  .number {
    width: 150px;
  }
  .number input {
    width: 120px;
  }
  .number span {
    display: none;
  }
  .basket_table select {
    width: 70%;
    padding: 0 2%;
  }
  .basket_table section .button, .basket_table section span {
    float: none;
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  .basket_form input {
    width: 100%;
  }
  .basket_form .button {
    text-align: center;
    width: 100%;
  }
  .product_buttons span {
    font-size: 15px;
  }
}
