// Normally mainpage styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 

@include mq($min-width: 960px, $max-width: 1200px) {
  .top_slider_wrap .carousel-caption {
    right: 9%;
    top: 1%;
  }
  .main_menu li a{
    font-size: 16px;
  }
  .about_index figure img{
    max-width: 100%;
  }
  .product_img_wrap .thumbnails li{
    display: inline-block;
    margin-top: 10px;
  }
}

//styles for ipad horz
@include mq($width: 1024px) {
  .product_img_wrap .big_image{
    float: none;
  }
  .product_img_wrap .thumbnails{
    float: none;
    padding-top: 15px;
    li{
      display: inline-block;
    }
  }
}
@include mq($max-width: 1024px) {
  img{
  	max-width: 100%;
  }
  .foot_contacts{
  	font-size: 17px;
  }
}

//styles for ipad vert
@include mq($max-width: 1000px) {

  .number span{
        font-size: 33px;
  }
    .number span.plus {
      top: -4px;
      right: 17px;
    }
    .number span.minus {
    top: -16px;
    right: auto;
    left: 20px;
    font-size: 48px;
    }
  .basket_table{
    .number{
      width: 82px;
    }
    .number span.minus{
      left: 5px;
    }
   } 
  
  .logo{
  	display: block;
  	text-align: center;
  }
  .head_phone, .search{
  	display: none;
  }
  .search_head{
  	text-align: center;
  	padding: 15px 0 0 0;
  }
  .slider_txt h5{
  	font-size: 35px;
  }
  .slider_txt{
  	font-size: 18px;
  	p{
  		padding-bottom: 17px;
  		font-size: 16px;
  	}
  }
  .top_slider_wrap .carousel-caption{
  	right: 3%;
  	top: 4%;
  }
  .preference_item{
  	figure{
  		width: 112px;
  		height: 112px;
  		padding: 8px;
  		figcaption{
			width: 100px;
    		height: 96px;
  			img{
  				width: 60%;
  			}
  		}
  	}
  }
  .foot_info_bottom{
  	display: none;
  }
  .hide_on_mobile{
  	display: none;
  }

  //menu
  .main_menu{
  	height: auto;
  	ul {
  		background: none;
  		li{
	  		display: block;
	  		width: 100%;
	  		text-align: center;
	  		background: none;
        /* border-bottom: 1px solid #eee5f1; */
	  		a{
	  			background: none;
	  		}
  		}
  	}
  	.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto;
    position: static;
    width: 100%;
    float: none;
	}
  }
  .main_menu, .main_menu .container {
    width: 100%;
    padding: 0;
  }
 	.menu_trigger{
 		display: block; 
 		color: #543060;
 		font-size: 18px;
 		text-align: center;
 		font-family: $fontfamily;
 		padding: 10px 0;
    box-shadow: 0 5px 3px #efefef;
    width: 100%;
 	}
 		.main_menu .dropdown-menu{
 			background:#c3a4cd; 
 		}
 	.dropdown-nav{
 		display: none;
 	}
 	.main_menu .container.open {
 		.dropdown-nav{
 			display: block;
 		}
 	}
 	.main_menu .dropdown-menu li a{
 		color: #fff;
 	}

  .basket_table{
    table{
      td{
        padding: 10px 0;
      }
    }
  }    

  .product_img_wrap{
    margin-bottom: 30px;
  }

  .product_wrap{
    text-align: center;

  }
}

@include mq($max-width: 760px) {
  .about_index .col-md-3{
    text-align: center;
  }
  .foot_all_menu{
    display: none;
  }
}

//styles for phones
@include mq($max-width: 700px) {
	.top_slider_wrap .carousel-caption{
		display: none;	
	}
  .baby{
    width: 100%;
    text-align: center;
    img{
      width: 50%;
    }
  }
	.preference_item {
		@include povh('');
		figure{
			float: left;
		}
		p{
			overflow: hidden;
			text-align: left;
			padding: 10px 0 0 22px;
		}
	}
	.about_index figure{
		margin-bottom: 20px;
		display: inline-block;
	}
	.foot_all_menu{
	display: none;
	}
	.foot_contacts {
	    font-size: 17px;
	    width: 148px;
	    text-align: left;
	    margin: 0 auto;
	}

  .product_img_wrap .big_image{
    float: none;
  }
  .product_img_wrap .thumbnails{
    float: none;
    padding-top: 15px;
    text-align: center;
    li{
      display: inline-block;
    }
  }

  .product_img_wrap .big_image{
    width: 100%;
    height: auto;
    a{
       width: 100%;
       height: auto;
       text-align: center;
       display: block;
    }
  }
  .product_text_wrap{
    text-align: center;
  }
  .product_tabs .tabs li a{
    padding: 0 10px;
  }
  .product_choose_item{
    padding-bottom: 15px;
  }
  .product_manager {
    padding: 20px 20px 20px 20px;
    background: #f0effc;
  }

  .foot_info_bottom{
    display: block;
    text-align: center;
    .counters{
      display: none;
    }
  }
  .products_item{
    margin: 0 20px 40px 20px;
  }
}

@include mq($max-width: 530px) {
  .basket_table select{
    width: 70px;
    padding: 0;
  }
  .number input{
    width: 51px;
  }
  .number{
    width: 72px;
  }
}
@include mq($max-width: 700px) {
  .products_item{
    margin: 0 0px 40px 0px;
  }
  .basket_table table thead{
    display: none;
  }
  .basket_table table td {
    padding: 10px;
    display: block;
    border: none;
    text-align: center;
  }
 .basket_table table  tr{
    display: block;
    border-bottom: 1px solid #ded9f7;
    &:last-child{
      border-bottom: none;
    }
  }
  .basket_table .number span.plus {
    top: -4px;
    right: 8px;
  }
  .basket_table .number span.minus {
    left: 11px;
  }
}

@include mq($max-width: 450px) {
  
  .number{
    width: 150px;
    input{
      width: 120px;
    }
    span{
      display: none;
    }
  }
   .basket_table select{
    width: 70%;
    padding: 0 2%;
  }
  .basket_table section .button, .basket_table section span{
    float: none;
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  .basket_form input{
    width: 100%;
  }
  .basket_form .button{
    text-align: center;
    width: 100%;
  }
  .product_buttons span{
    font-size: 15px;
  }
}